%article
  %ul
    - for item in @items
      %li{"data-channel"=>item.channel_name, "data-created"=>item.created_at, "data-channel"=>item.channel_name, "data-creator"=>"@#{item.user_name}", "data-id"=>item.id}
        %span.list-head
          â—
        = item.text
        %span.channel
          = "##{item.channel_name}"
- content_for :footer do
  - if @team_names.size>1
    Choose a team: 
    %span.picker
      %select
        %option Select
        - for team in @team_names
          %option{"value"=>team}
            = team
    %br