%article
  %ul
    - for item in @items
      %li{"data-channel"=>item.channel_name, "data-created"=>item.created_at, "data-channel"=>item.channel_name, "data-creator"=>"@#{item.user_name}", "data-id"=>item.id}
        %span.list-head
          â—
        = item.text
        %span.channel
          = "##{item.channel_name}"
= render 'footer'