<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - Roy</title>
  {% block scripts %}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  {% endblock %}
  {% block css %}
  <link href="{{ BASE_URI }}assets/css/reset.css" rel="stylesheet">
  <link href="{{ BASE_URI }}assets/css/style.css" rel="stylesheet">
  {% endblock %}
</head>
<body>
  {% block header %}
  <h1><a href="#">Roy</a> <small>Task management for slack</small></h1>
  <nav class="links">
    <a href="{{BASE_URI}}{{team}}/calendar">calendar</a>
    <a href="{{BASE_URI}}{{team}}">team</a>
    <a href="{{BASE_URI}}{{team}}/settings">settings</a>
  </nav>
  <nav class="hashtags">
  </nav>
  <nav class="mentions">
  </nav>
  {% endblock %}
  {% block body %}
  {% endblock %}
  <footer>
    Roy is open source software for Slack users. <a href="https://github.com/captn3m0/roy">[Source Code]</a>
  </footer>
</body>
</html>